{
    "presets": ["es2015", "stage-1", "react"],
    "plugins": [["transform-es2015-classes", {loose: true}], "transform-class-properties", "transform-function-bind"],
    "env": {
      "interactive-dev": {
        "presets": ["react-hmre"]
      }
    }
}
