:local(.root) {
    position: relative;
}

#mainview-preloader {
        position: fixed;
        display: block;
        left: 190px;
        top: 85px;
        z-index: 9000;
        opacity: 0.7;
        text-align: center;
        & > div {
            width: 16px;
            height: 16px;
            background-color: #fff;
            border-radius: 100%;
            display: inline-block;
            animation: sk-bouncedelay 1.7s infinite ease-in-out both;
            margin-left: -2px;            
            margin-right: 12px;
        }
        & > div:nth-child(1) {
            animation-delay: -0.40s;
        }
        & > div::nth-child(2) {
            animation-delay: -0.20s;
        }
        & > div::nth-child(3) {
            animation-delay: -0s;
        }
        
        @keyframes sk-bouncedelay {
            0%, 100% {
                transform: scale(0);
                opacity: 0;
            }
            50% {
                transform: scale(1.0);
                opacity: 1;
            }
        }
        
    // &::before {
    //     content: "";
    //     position: fixed;
    //     width: 15px;
    //     height: 15px;
    //     left: 190px;
    //     top: 85px;
    //     border-radius: 50%;
    //     display: block;
    //     opacity: 0.9;
    //     z-index: 9000;
    //     animation: animate 2s linear infinite alternate;
    // }
    // @keyframes animate {
    //     0% {
    //         background-color: rgba(255, 255, 255, 1);
    //         box-shadow: 24px 0px 0px 0px rgba(255, 255, 255, 0.2),
    //             48px 0px 0px 0px rgba(255, 255, 255, 0.2),
    //     }
    //     25% {
    //         background-color: rgba(255, 255, 255, 0.4);
    //         box-shadow: 24px 0px 0px 0px rgba(255, 255, 255, 2), 
    //             48px 0px 0px 0px rgba(255, 255, 255, 0.2);
    //     }
    //     75% {
    //         background-color: rgba(255, 255, 255, 0.4);
    //         box-shadow: 24px 0px 0px 0px rgba(255, 255, 255, 0.2),
    //             48px 0px 0px 0px rgba(255, 255, 255, 1);
    //     }
    // }
}