:local(.root) {
    position: relative;
    width: 100%;
    margin: 0 auto;
    
    $sidebarWidth: 260px;
    
    #sidebar {
        position: fixed;
        width: $sidebarWidth;
        background: cornflowerblue;
        height: 100%;
    }
    
    #content {
        float: left;
        min-height: 100vh;
        margin-left: $sidebarWidth;
        width: calc(100% - $sidebarWidth);
    }
}