@import "variables";

@font-face {
    font-family: 'icomoon';
    src:
        url('#{$icomoon-font-path}/icomoon.ttf') format('truetype'),
        url('#{$icomoon-font-path}/icomoon.woff') format('woff'),
        url('#{$icomoon-font-path}/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin-with-circle {
    &:before {
        content: $icon-linkedin-with-circle;
    }
}
.icon-paper-plane {
    &:before {
        content: $icon-paper-plane;
    }
}
.icon-email {
    &:before {
        content: $icon-email;
    }
}
.icon-twitter-with-circle {
    &:before {
        content: $icon-twitter-with-circle;
    }
}
.icon-facebook-with-circle {
    &:before {
        content: $icon-facebook-with-circle;
    }
}
.icon-mark-github {
    &:before {
        content: $icon-mark-github;
    }
}
.icon-settings {
    &:before {
        content: $icon-settings;
    }
}
.icon-menu {
    &:before {
        content: $icon-menu;
    }
}
.icon-arrow_forward {
    &:before {
        content: $icon-arrow_forward;
    }
}
.icon-twitter {
    &:before {
        content: $icon-twitter;
    }
}
.icon-linkedin-square {
    &:before {
        content: $icon-linkedin-square;
    }
}
.icon-linkedin {
    &:before {
        content: $icon-linkedin;
    }
}
.icon-rss-square {
    &:before {
        content: $icon-rss-square;
    }
}
.icon-feed {
    &:before {
        content: $icon-feed;
    }
}
.icon-paper-plane2 {
    &:before {
        content: $icon-paper-plane2;
    }
}
.icon-envelope {
    &:before {
        content: $icon-envelope;
    }
}
.icon-facebook-square {
    &:before {
        content: $icon-facebook-square;
    }
}

