$icomoon-font-path: "icomoon/fonts" !default;

$icon-linkedin-with-circle: "\e906";
$icon-paper-plane: "\e907";
$icon-email: "\e908";
$icon-twitter-with-circle: "\e901";
$icon-facebook-with-circle: "\e905";
$icon-mark-github: "\e904";
$icon-settings: "\e90e";
$icon-menu: "\e90f";
$icon-arrow_forward: "\e900";
$icon-twitter: "\e910";
$icon-linkedin-square: "\e909";
$icon-linkedin: "\e90a";
$icon-rss-square: "\e90b";
$icon-feed: "\e90c";
$icon-paper-plane2: "\e90d";
$icon-envelope: "\e902";
$icon-facebook-square: "\e903";

