$icomoon-font-path: "icomoon/fonts" !default;

$icon-arrow_forward: "\e900";
$icon-twitter2: "\e901";
$icon-envelope: "\e902";
$icon-facebook-square: "\e903";
$icon-github: "\e904";
$icon-twitter: "\e905";

