code {
    color: #333;
    background-color: #fafafa;
    padding: 0.3rem;
    font-weight: 600;
}

pre code {
    padding: 0;
    background-color: transparent;
    font-weight: normal;
    font-size: 0.94em;
}

pre, pre.hljs {
    padding: 2rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}