code {
    padding: 0.3rem;
    font-weight: 600;
}

pre {
    padding: 2rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

pre code {
    padding: 0;
    background-color: transparent;
    font-weight: normal;
    font-size: 0.94em;
}

code, pre {
    font-family: Consolas, Menlo, Monaco, "Ubuntu Mono", "Andale Mono WT", "Andale Mono", "Lucida Console", "Nimbus Mono L", monospace;
    color: #333;
    background-color: #fafafa;
    tab-size: 4;
    hyphens: none;
}