@import "~normalize.css/normalize.css";
@import "./mixins";

// Global modifiers
html {
    box-sizing: border-box;
    background: white;
}

body {
    font-family: "Segoe UI", "Segoe WP", "Helvetica Neue", "Roboto", "Open Sans", "Helvetica", "Arial", "sans-serif";
    overflow: hidden;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.clear {
    clear: both;
}

@import "./icomoon/style";
@import "./scrollbar";

