@import "~normalize.css/normalize.css";
// Global modifiers
html {
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", "Segoe WP", "Helvetica Neue", "Helvetica", "Roboto", "Open Sans", "Arial", "sans-serif";
    overflow: hidden;
}

h1 {
    font-weight: 100;
    margin: 12px 0;
}

h2 {
    font-weight: 500;
    margin: 12px 0;
}

h3 {
    font-weight: 400;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

p {
    margin: 16px 0;
}

.clear {
    clear: both;
}

@import "./icomoon/style";
@import "./scrollbar";