h1, h2, h3, h4, h5, h6 {
    font-weight: bold; 
}

h1.title {
    /* def: 40 */
    font-size: 2.25rem;
    margin-top: 1.88rem;
}

h2 {
    /* def: f-size: 32 */
    margin: 2rem 0 1rem 0;
}

h3 {
    /* def: 28 */
    font-size: 1.6rem;
    margin: 1.5rem 0 0.88rem 0;
}

h4 {
    /* def: 24 */
    font-size: 1.35rem;
    margin: 1.25rem 0 0.88rem 0;
}

.h-small {
    font-size: 1.04rem;
    color: #888;   
    font-variant: small-caps;
    vertical-align: middle;
}