@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
body {
    margin: 40px 0;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, Roboto, 'Liberation Sans', sans-serif;
    line-height: 1.6;
}

@import "./headings.css";
@import "./code.css";
@import "./quotes.css";
@import "./utils.css";
@import "./app.css";
@import "./nprogress.css";