::-webkit-scrollbar {
    box-sizing: content-box;
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-button {}

::-webkit-scrollbar-track {}

::-webkit-scrollbar-track-piece {}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-corner {
    background-color: transparent;
    /* background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    background-clip: content-box; */
}

::-webkit-resizer {
    border-bottom: 4px rgba(0, 0, 0, 0.05) solid;
    border-right: 4px rgba(0, 0, 0, 0.05) solid;
}