@import "../MainView/vars";
:local(.root) {
    z-index: 9999;
    position: absolute;
    pointer-events: none;
    $outlineColor: #3f5660;
    $staticColor: #000;
    margin-left: $sidebarWidth;
    .opacifier {
        z-index: 0;
        background: #fff;
        opacity: 0.7;
        width: calc(100vw - #{$sidebarWidth});
        height: 100%;
        left: $sidebarWidth;
        display: block;
        position: fixed;
        top: 0;
    }
    .container {
        z-index: 1;
        left: calc(#{$sidebarWidth} + (100% - #{$sidebarWidth}) * 0.5);
        top: 45%;
        position: fixed;
        transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);
        .spinner {
            text-align: center;
        }
        .spinner > div {
            width: 16px;
            height: 16px;
            background-color: #444;
            border-radius: 100%;
            display: inline-block;
            animation: bouncedelay 1.7s infinite ease-in-out both;
            margin-right: 10px;
        }
        .spinner div:nth-child(1) {
            animation-delay: -0.40s;
        }
        .spinner div::nth-child(2) {
            animation-delay: -0.20s;
        }
        .spinner div::nth-child(3) {
            animation-delay: -0s;
        }
        
        @keyframes bouncedelay {
            0%, 100% {
                transform: scale(0);
                opacity: 0;
            }
            50% {
                transform: scale(1.0);
                opacity: 1;
            }
        }
    }
}