@import "../MainView/vars";
:local(.root) {
    z-index: 9999;
    position: absolute;
    pointer-events: none;
    $outlineColor: #3f5660;
    $staticColor: #000;
    margin-left: $sidebarWidth;
    .opacifier {
        z-index: 0;
        background: #fff;
        opacity: 0.7;
        width: calc(100vw - #{$sidebarWidth});
        height: 100%;
        left: $sidebarWidth;
        display: block;
        position: fixed;
        top: 0;
    }
    .container {
        z-index: 1;
        left: calc(#{$sidebarWidth} + (100% - #{$sidebarWidth}) * 0.5);
        top: 45%;
        position: fixed;
        transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);
        .spinner {
            text-align: center;
        }
        .spinner > div {
            width: 16px;
            height: 16px;
            background-color: #444;
            border-radius: 100%;
            display: inline-block;
            animation: sk-bouncedelay 1.7s infinite ease-in-out both;
            margin-right: 10px;
        }
        .spinner div:nth-child(1) {
            animation-delay: -0.40s;
        }
        .spinner div::nth-child(2) {
            animation-delay: -0.20s;
        }
        .spinner div::nth-child(3) {
            animation-delay: -0s;
        }
        
        @keyframes sk-bouncedelay {
            0%, 100% {
                transform: scale(0);
                opacity: 0;
            }
            50% {
                transform: scale(1.0);
                opacity: 1;
            }
        }
    }
    // .infinity-loader-outline {
    //     stroke: $outlineColor;
    //     stroke-dasharray: 2.42777px, 242.77666px;
    //     stroke-dashoffset: 0;
    //     animation: af-infinity-loader 1.6s linear infinite;
    // }
    // .infinity-loader-static {
    //     opacity: 0.1;
    //     stroke: $staticColor;
    // }
    // @keyframes af-infinity-loader {
    //     12.5% {
    //         stroke-dasharray: 33.98873px, 242.77666px;
    //         stroke-dashoffset: -26.70543px;
    //     }
    //     43.75% {
    //         stroke-dasharray: 84.97183px, 242.77666px;
    //         stroke-dashoffset: -84.97183px;
    //     }
    //     100% {
    //         stroke-dasharray: 2.42777px, 242.77666px;
    //         stroke-dashoffset: -240.34889px;
    //     }
    // }
}