@import "../ContentView/vars";
:local(.root) {
    @include content-chrome-container;
    & > main {
        @include content-chrome;
        & > section {
            & > header {
                & > h2 > a {
                    @include header-link;
                }
                & > .date {
                    @include header-date-link;        
                }
                & > .tags {
                    @include tags;
                }
            }
            & > article {
                strong {
                    @include article-strong;
                }
                a {
                    @include link;
                }
                margin-bottom:30px;
            }
            & > .readmore {
                margin-top: -10px;
                padding-bottom: 10px;
                a {
                    padding: 5px 0px;
                    @include link;
                }
            }
        }
        & > section::after {
            @include horizontal-line-on-after;
        }
    }
}