@import "../ContentView/vars";
:local(.root) {
    @include content-chrome;
    & > section::after {
        @include horizontal-line-on-after;
    }
    & > section {
        & > header {
            & > h2 > a {
                @include header-link;
            }
            & > time {
                @include header-date;
            }
        }
        & > article {
            strong {
                @include article-strong;
            }
            a {
                @include link;
            }
            margin-bottom:30px;
        }
        & > .readmore {
                margin-top: -10px;            
            a {
                display: inline-block;
                padding: 10px 0px;
                @include link;
            }
        }
    }
}