:local(.root) {
    $fontColorBase: rgba(#fff, 0.9);
    $fontColorBright: #fff;
    
    background: #3f5660;    
    color: $fontColorBase;
    
    @mixin white-link {
        text-decoration: none;
        font-weight: 400;
        transition: 0.2s;
        color: $fontColorBase;
        
        &:hover {
            text-decoration: none;
            border-bottom: 1px solid $fontColorBase;
        }
        
        &:active {
            color: #0096d6;
            border-bottom: 1px solid #0096d6;
            transition: 0.2s;
        }
    }
    
    header {
        h1 {
            font-size: 24px;
            display: block;
            margin: 60px 20px 20px 30px;
            text-align: left;

            & > a {
                
                text-decoration: none;
                font-weight: 100;
                transition: 0.3s;
                color: $fontColorBase;
                
                &:hover {
                    color: lightgreen;
                    transition: 0.3s;
                    text-decoration: none;
                }
                
                &:active {
                    color: #0096d6;
                    border-bottom: none;
                    transition: 0.2s;
                }
            }
        }
    }
    .tagline {
        font-size: 16px;
        margin: 40px 20px 60px 30px;
        font-weight: 300;
        line-height: 26px;
        span {
            color:rgba($fontColorBright, 0.7);
        }
        a {
            @include white-link;
        }
    }
    address {
        margin: 30px auto;
        position: fixed;
        bottom: 20px;
        left: 50px;
        text-align: center;
        a {
            color: rgba($fontColorBright, 0.5);
            display: inline-block;
            $fontSize: 28px;
            border-bottom: none;
            text-decoration: none;
            position: relative;
            font-size: $fontSize;
            margin-right: 18px;
            transition: all 0.3s;
            &:hover {
                color: $fontColorBright;
                transition: 0.2s;
                text-decoration: none;
                border-bottom: none;
            }
            &:active {
                transition: all 0.1s;
            }
            &.icon-envelope {
                margin-left: 3px;
            }
            &.icon-mark-github {
                font-size: $fontSize - 2px;
            }
            &:last-of-type {
                margin-right: 9px;
            }
        }
    }
    nav {
        margin-top: 10px;
        list-style-type: none;
        & > li {
            padding: 10px 30px;
            font-weight: 400;
            &:hover {
                background: rgba($fontColorBright, 0.1);
            }
        }
    }
}