@import "../MainView/vars";

:local(.root) {
    $fontColorBase: rgba(#fff, 0.9);
    $fontColorBright: #fff;
    $fontActiveColor: palegreen;
    
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: flex-start;

    position: fixed;
    height:100%;
    width: $sidebarWidth;
    overflow: auto;

    background: #3f5660;    
    color: $fontColorBase;
    
    @mixin white-link {
        text-decoration: none;
        font-weight: 400;
        transition: 0.2s;
        color: $fontColorBase;
        
        &:hover {
            border-bottom: 1px solid $fontColorBase;
        }
        
        &:active {
            color: $activeLinkColor;
            border-bottom: 1px solid $activeLinkColor;
            transition: 0.2s;
        }
    }
    
    header {
        h1 {
            font-size: 24px;
            display: block;
            margin: 60px 20px 20px 30px;
            text-align: left;

            & > a {
                text-decoration: none;
                font-weight: 100;
                transition: 0.3s;
                color: $fontColorBase;
                
                &:hover, &:focus {
                    color: $fontActiveColor;
                    transition: 0.3s;
                }
                
                &:active {
                    color: $activeLinkColor;
                    transition: 0.2s;
                }
            }
        }
    }
    
    .tagline {
        font-size: 16px;
        margin: 40px 20px 60px 30px;
        font-weight: 300;
        line-height: 26px;
        span {
            color:rgba($fontColorBright, 0.7);
        }
        a {
            @include white-link;
        }
    }
    
    address {
        margin: 30px auto;
        align-self: center;
        
        a {
            $fontSize: 28px;
            
            display: inline-block;            
            position: relative;
            margin-right: 18px;

            border-bottom: none;
            
            font-size: $fontSize;            
            color: rgba($fontColorBright, 0.5);
            text-decoration: none;
            
            transition: all 0.3s;
            user-select: none;
            
            &:hover, &:focus {
                color: $fontColorBright;
                transition: 0.2s;
            }
            &:active {
                color: $activeLinkColor;                
                transition: all 0.2s;
            }
            &.icon-envelope {
                margin-left: 3px;
            }
            &.icon-mark-github {
                font-size: $fontSize - 2px;
            }
            &:last-of-type {
                margin-right: 9px;
            }
        }
    }

    nav {
        flex: 1 0 auto;
        margin: 10px 0 20px 0;
        list-style-type: none;
        
        & > li > a {
            display: block;
            padding: 10px 30px;
            font-weight: 400;
            cursor: pointer;
            transition: 0.2s;
            color: $fontColorBase;
            text-decoration: none;
            font-weight: 400;
            
            &:hover, &:focus {
                background: rgba($fontColorBright, 0.1);                
                transition: 0.2s;                
            }
            
            &:active {
                color: $activeLinkColor;
                transition: 0.2s;                   
            }
            
            &.highlight {
                background: rgba(#000, 0.4);                
                cursor: default;
                transition: 0.9s;  
            }
        }
    }
}