    @import "../MainView/vars";
    $headingColor: $activeLinkColor;
    $linkHoverColor: $activeLinkColor;
    $linkActiveColor: #30a700;
    $headingActiveColor: lightgrey;    
    $headerDateColor: rgb(27, 176, 81);
    $horizontalLineColor: whitesmoke;
        
    @mixin content-chrome-container {
        background: #fff;
    }
        
    @mixin content-chrome {
        padding: 50px 0 25px 0;
        margin-right: 5%;
        margin-left: 7%;
        max-width: 900px;
    }
    
    @mixin link {
        text-decoration: none;
        font-weight: 400;
        transition: 0.2s;
        color: $headingColor;
        border-bottom: 1px solid transparent;
        &:hover {
            border-bottom: 1px solid $linkHoverColor;
        }
        &:active {
            color: $linkActiveColor;
            border-bottom: 1px solid $linkActiveColor;
            transition: 0.2s;
        }
    }
    
    @mixin horizontal-line-on-after {
        content: "";
        display: block;
        border-bottom: 1px solid $horizontalLineColor;
        width: 100%;
        margin: 30px 0;
    }
    
    @mixin header-link {
        text-decoration: none;
        font-weight: 300;
        font-size: 38px;
        transition: 0.3s;
        color: $headingColor;
        display: inline-block;
        position: relative;
        
        &:hover,
        &:focus {
            color: gray;
            transition: 0.3s;
        }
        &:active {
            color: $headingActiveColor;
            transition: 0.2s;
        }
    }
    
    @mixin header-link-animated {
        &::after {
            content:"";
            position: absolute;
            display: block;
            left: -4px;
            height: 2px;
            bottom: -6px;
            width: 0;
            background:lighten(gray, 10%);
            transition: width 0.37s cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        &:hover::after, &:focus::after {
            width: calc(100% + 8px);
            transition: width 0.57s cubic-bezier(0.4, 0, 0.2, 1);  
        }
        
        &:active::after {
            width: 0;
            background: lighten($headingActiveColor, 15%);
            transition: width 0.01s cubic-bezier(0.4, 0, 0.2, 1);  
        }
    }
    
    @mixin header-date {
        color: $headerDateColor;
        font-weight: 400;
    }
    
    @mixin article-strong {
        font-size: 15px;
        font-weight: 500;
    }