    @import "../MainView/vars";
    $headingColor: $linkColor;
    $linkHoverColor: $linkColor;
    $linkActiveColor: #30a700;
    $headingActiveColor: lightgrey;
    $headerDateColor: rgb(27, 176, 81);
    $horizontalLineColor: whitesmoke;
    
    @mixin content-chrome-container {
        background: #fff;
        min-height: 100vh;
    }
    
    @mixin content-chrome {
        padding: 50px 0 25px 0;
        margin-right: 5%;
        margin-left: 7%;
        max-width: 900px;
    }
    
    @mixin link($color: $headingColor, $hoverColor: $linkHoverColor, $activeColor: $linkActiveColor) {
        text-decoration: none;
        font-weight: 400;
        transition: 0.2s;
        color: $color;
        border-bottom: 1px solid transparent;
        &:hover {
            color: $hoverColor;            
            border-bottom: 1px solid $hoverColor;
            transition: 0.2s;
        }
        &:active {
            color: $activeColor;
            border-bottom: 1px solid $activeColor;
            transition: 0.2s;
        }
    }
    
    @mixin horizontal-line-on-after {
        content: "";
        display: block;
        border-bottom: 1px solid $horizontalLineColor;
        width: 100%;
        margin: 30px 0;
    }
    
    @mixin header-link {
        text-decoration: none;
        font-weight: 300;
        font-size: 38px;
        transition: 0.3s;
        color: $headingColor;
        display: inline-block;
        position: relative;
        &:hover,
        &:focus {
            color: lighten(indianred, 10%);
            transition: 0.1s;
        }
        &:active {
            color: $headingActiveColor;
            transition: 0.2s;
        }
    }
    
    @mixin header-date-link {
        color: $headerDateColor;
        font-weight: 400;
        text-decoration: none;
        padding-bottom: 5px;
        border-bottom: 1px solid transparent;
        &:hover, &:focus {
            color: $linkActiveColor;
            border-bottom: 1px solid $linkActiveColor;
        }
        &:active {
            color: gray;
            border-bottom: 1px solid gray;            
        }
    }
    
    @mixin article-strong {
        font-size: 15px;
        font-weight: 600;
    }
    
    @mixin tags {
        display: block;
        & > span.title {
            $totalHeight: 14.0px;
            $fontSize: 13px;
            
            $backgroundColor: rgba(0, 0, 0, 0.03);
            position: relative;
            color: rgba(0, 0, 0, 0.6);
            display: inline-block;
            margin: 20px 10px 0 6px;
            line-height: $totalHeight;
            font-size: $fontSize;
            padding:#{($totalHeight/2.0)-1.0} 15px;
            border-bottom: 2px solid transparent;
            background-color: $backgroundColor;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 100%;
                width: 0;
                height: 0;
                border-color: transparent $backgroundColor transparent transparent;
                border-style: solid;
                border-width: $totalHeight $totalHeight $totalHeight 0;
            }
            &::after {
                $size: 4px;
                content: "";
                position: absolute;
                top: #{$totalHeight - ($size /2)};
                left: 2px;
                float: left;
                width: $size;
                height: $size;
                border-radius: #{$size / 2};
                //box-shadow: 0 0 0.2px 0.2px rgba(0, 0, 0, 0.1);
                background: #fff;
            }
        }
        & > span {
            font-weight: 400;
            color: rgba(0, 0, 0, 0.6);
            & > a {
                padding: 5px 0px;
                margin: 0 5px;
                @include link;
            }
        }
    }