@import "./vars";
:local(.root) {
    $red: #e06666;
    margin-left: $sidebarWidth;
    overflow: auto;
    height: 100vh;
    position: relative;
    &:focus {
        outline: none;
    }
    h6 {
        margin: 0;
        padding: 4px 0px;
        font-size: 16px;
    }
    p {
        text-align: justify;
        text-justify: distribute;
        line-height: 150%;
        font-weight: 400;
    }
    blockquote {
        & > p {
            margin: 0;
            padding: 0;
        }
        $blockColor: lighten(black, 45);
        margin: 25px 0;
        padding: 15px 30px;
        background-color: rgba(0, 0, 0, 0.01);
        border-left: 4px solid $blockColor;
        font-size:15px;
        line-height: 160%;
        &.red {
            border-left: 4px solid $red;
        }
        &.green {
            border-left: 4px solid green;
        }
    }
    .text-red {
        color: $red;
    }
    .text-wnormal {
        font-weight: normal;
    }
    pre {
        padding: 30px;
        background: #f4f7f8;
        border-left: 4px solid #e1e9e9;
        line-height: 22px;
        font-family: "Consolas", "Roboto Mono", "Droid Sans Mono", "DejaVu Sans Mono", "monospace";
        code {
            font-size: 14px;
            max-width: 900px;
            display: block;
            overflow-x: auto;
        }
    }
    .transparent {
        background-color: transparent;
    }
    .justify {
        text-align: justify;
    }
    *:not(pre) > code {
        background: #fbfbfb;
        font-size: 110%;
        line-height: 120%;
        padding: 0 5px;
        display: inline-block;
        margin-top: -1px;
    }
    footer {
        font-size: 12px;
        color: gray;
        line-height: 1.8;
        margin-top: 40px;
        bottom: 10px;
    }
}