@import "../ContentView/shared";

:local(.root) {
    @include content-chrome-container;
    & > div {
        @include content-chrome;
        & > main > section {
            margin-top: 20px;
            & > header {
                font-weight: 400;
                font-size: 22px;
                color: darkgray;
                position: relative;
                margin-bottom: 10px;
                .year {
                    position: relative;   
                    background: #fff;             
                    z-index: 1;
                    padding-right: 20px;       
                }
                &::after {
                    content: "";
                    position: absolute;
                    z-index: 0;
                    display: block;
                    width: 100%;
                    top:50%;
                    border-bottom: 1px solid whitesmoke;
                }
            }
            & > div {
                &::after {
                    content:"";
                    display: block;
                    clear:both;
                }
                & > .title {
                    float: left;
                    max-width: 70%;
                    margin: 10px 20px 5px 0;                    
                    a {
                        @include link;
                        font-size: 18px;
                    }
                }
                & > time {
                    float: right;
                    margin: 10px 0 5px 0;
                    color: darkgray;
                }
            }
        }
    }
}