@import "../ContentView/vars";
:local(.root) {
    @include content-chrome;
    & > h2 {
        font-weight: 300;
        font-size: 38px;
        color: gray;
    }
    & > section {
        & > header {
            
        }
        & > div {
            &>h2 {
                
            }
            & >time {
                
            }
        }
    }
}